<article class="contacts-block {{ classes }}">
  {% if address is not empty %}
    <div class="contacts-block__item">
      <p class="contacts-block__title">Адрес:</p>
      {# Если ссылка не нужна, то заменить <a> на <p> оставив класс #}
      {% if addressLink is not empty %}
        <a href="{{ addressLink }}" class="contacts-block__link" rel="nofollow noopener" target="_blank">{{address}}</a>
      {% else %}
        <p class="contacts-block__link">{{address}}</p>
      {% endif %}
    </div>
  {% endif %}

  {% if email is not empty %}
    <div class="contacts-block__item">
      <p class="contacts-block__title">Электронная почта:</p>
      <a href="mailto:{{email}}" class="contacts-block__link">{{email}}</a>
    </div>
  {% endif %}

  {% if phone is not empty %}
    <div class="contacts-block__item">
      <p class="contacts-block__title">Телефон:</p>
      <a href="tel:{{phone}}" class="contacts-block__link">{{phone}}</a>
    </div>
  {% endif %}

  {% if fax is not empty %}
    <div class="contacts-block__item">
      <p class="contacts-block__title">Факс:</p>
      <p class="contacts-block__link">{{fax}}</p>
    </div>
  {% endif %}
  
</article>