<section class="section-std section-partners wrapper">
  <h2 class="title">Мы сотрудничаем</h2>

  <div class="partners__cont">
    {% for idx, partner in partners %}
      <a href="#" class="partner__item">
        {% if idx < 13 %}
          <img data-src="../img/partner-{{idx + 1}}.png" alt="{{partner.title}}" class="partner__img lazy {{ partner.isTooBlack == true ? 'partner__img_too-black' : ''}}">
        {% else %}  
          <div class="partner__img_fallback"></div>
        {% endif %}
        {% if partner is not empty %}
          <p class="partner__title {{ partner.isTitleSmall == true ? 'partner__title_small' : ''}}">{{partner.title}}</p>
        {% endif %}
      </a>
    {% endfor %}
  </div>
  
</section>